<div>
  <a v-if="finished || !isActive" class="button is-info small" href="/#/"><- Regresar a la lista de Quiz</a>
	<h1 class="title intro-title text-center">
    [[ test.name ]] 😁
  </h1>
  <div class="container">
  <br>

  <template v-if="loadingQuestions">
  	Cargando...
  </template>
  <template v-else-if="questions.length">
    <div class="has-text-centered">
      <a class="button is-primary" v-if="!isActive && questions.length" @click="isActive=true">Quiero intentarlo!</a>
    </div>
  	<template v-if="isActive">
  		<article class="message is-primary">
			  <div class="message-body">
			  	[[ currentQuestion.title ]]
          <br>
          <span v-if="answer.is_right === true" style="color: #2bd82b">Es correcto!</span>
          <span v-if="answer.is_right === false" style="color: #e6264c">Oops!</span>
          <span v-if="finished" style="color: #6531ff">baia baia tu puntaje es [[ questions.length - errors ]] / [[ questions.length ]]</span>
          <p v-if="currentQuestion.complement && answerExists">[[ currentQuestion.complement ]]</p>
			  </div>
			</article>

      <div v-for="_answer in currentQuestion.answer_set" class="answer"
        @click="checkResponse(_answer)"
        :class="{ 'right': _answer.is_right && answerExists,
        'wrong': _answer.id === answer.id && !_answer.is_right && answerExists }">
        <p>[[ _answer.content ]]</p>
      </div>
      <br>
      <div class="has-text-centered">
        <a v-if="!finished & answerExists" class="button is-primary is-rounded" v-on:click="nextQuestion">Siguiente</a>
        <a v-if="finished" class="button is-info is-warning" @click="resetData">Esto no puede quedar así!</a>
      </div>
  	</template>
  </template>
  <template v-else>
  	Este Test aun no tiene preguntas :)
  </template>
</div>
</div>

